body {
 margin:10px;
 padding:10px;
}

.logo {
margin-bottom: 10px;
}

.selected {
 border: 5px solid #EC1919;
 padding: 5px; 
}

.green {
 color: #057F13;
}

.textBox {
	border: all;
}

.blue {
 	color: blue;
}

.blueback {
 	background: blue;
}

.yellowback {
 	background: yellow;
}

.redback {
 	background: red;
}

.center {
	text-align: center;
}


